<a href="https://colab.research.google.com/github/jash-ai/PYTHON/blob/main/UNIT_TESTING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

UNIT TESTING 2 DATAFRAMES

https://www.w3resource.com/pandas/dataframe/dataframe-equals.php

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.DataFrame({1: [20], 2: [30]})
df

    1   2
0  20  30

In [ ]:
exactly_equal = pd.DataFrame({1: [20], 2: [30]})
exactly_equal

    1   2
0  20  30

In [ ]:
df.equals(exactly_equal)

True

In [ ]:
different_column_type = pd.DataFrame({1.0: [20], 2.0: [30]})
different_column_type

   1.0  2.0
0   20   30

In [ ]:
df.equals(different_column_type)

True

In [ ]:
different_data_type = pd.DataFrame({1: [20.0], 2: [30.0]})
different_data_type

      1     2
0  20.0  30.0

In [ ]:
df.equals(different_data_type)

False

https://khuyentran1401.github.io/Efficient_Python_tricks_and_tools_for_data_scientists/Chapter2/testing.html

https://www.tutorialspoint.com/python-pandas-check-if-two-dataframes-are-exactly-same

In [ ]:
dataFrame1 = pd.DataFrame(
   {
      "Car": ['BMW', 'Lexus', 'Audi', 'Mustang', 'Bentley', 'Jaguar'],
      "Units": [100, 150, 110, 80, 110, 90]
   }
)

In [ ]:
dataFrame2 = pd.DataFrame(
   {
      "Car": ['BMW', 'Lexus', 'Audi', 'Mustang', 'Mercedes', 'Jaguar'],
      "Reg_Price": [7000, 1500, 5000, 8000, 9000, 6000]

   }
)

In [ ]:
dataFrame1.equals(dataFrame2)

False

In [ ]:
import pandas as pd

# Create DataFrame1
dataFrame1 = pd.DataFrame(
   {
      "Car": ['BMW', 'Lexus', 'Audi', 'Mustang', 'Bentley', 'Jaguar'],
      "Units": [100, 150, 110, 80, 110, 90]
   }
)

print(("DataFrame1 ...\n"),dataFrame1)

# Create DataFrame2
dataFrame2 = pd.DataFrame(
   {
      "Car": ['BMW', 'Lexus', 'Audi', 'Mustang', 'Mercedes', 'Jaguar'],
      "Reg_Price": [7000, 1500, 5000, 8000, 9000, 6000]

   }
)

print(("\nDataFrame2 ...\n"),dataFrame2)

# check for equality
print(("\nAre both the DataFrames equal? "),dataFrame1.equals(dataFrame2))

DataFrame1 ...
        Car  Units
0      BMW    100
1    Lexus    150
2     Audi    110
3  Mustang     80
4  Bentley    110
5   Jaguar     90

DataFrame2 ...
         Car  Reg_Price
0       BMW       7000
1     Lexus       1500
2      Audi       5000
3   Mustang       8000
4  Mercedes       9000
5    Jaguar       6000

Are both the DataFrames equal?  False

https://www.educative.io/answers/how-to-compare-two-dataframes-in-pandas

In [ ]:
import pandas as pd

data = [['dom', 10], ['chibuge', 15], ['celeste', 14]]
df = pd.DataFrame(data, columns = ['Name', 'Age'])

data1 = [['dom', 11], ['abhi', 17], ['celeste', 14]]
df1 = pd.DataFrame(data1, columns = ['Name', 'Age'])

print("Dataframe 1 -- \n")
print(df)

print("-"*5)
print("Dataframe 2 -- \n")
print(df1)

print("-"*5)
print("Dataframe difference -- \n")
print(df.compare(df1))

print("-"*5)
print("Dataframe difference keeping equal values -- \n")
print(df.compare(df1, keep_equal=True))

print("-"*5)
print("Dataframe difference keeping same shape -- \n")
print(df.compare(df1, keep_shape=True))

print("-"*5)
print("Dataframe difference keeping same shape and equal values -- \n")
print(df.compare(df1, keep_shape=True, keep_equal=True))

Dataframe 1 --

      Name  Age
0      dom   10
1  chibuge   15
2  celeste   14
-----
Dataframe 2 --

      Name  Age
0      dom   11
1     abhi   17
2  celeste   14
-----
Dataframe difference --

      Name         Age
      self other  self other
0      NaN   NaN  10.0  11.0
1  chibuge  abhi  15.0  17.0
-----
Dataframe difference keeping equal values --

      Name        Age
      self other self other
0      dom   dom   10    11
1  chibuge  abhi   15    17
-----
Dataframe difference keeping same shape --

      Name         Age
      self other  self other
0      NaN   NaN  10.0  11.0
1  chibuge  abhi  15.0  17.0
2      NaN   NaN   NaN   NaN
-----
Dataframe difference keeping same shape and equal values --

      Name           Age
      self    other self other
0      dom      dom   10    11
1  chibuge     abhi   15    17
2  celeste  celeste   14    14

https://practicaldatascience.co.uk/data-science/how-to-find-the-differences-between-two-pandas-dataframes

In [ ]:
import pandas as pd

In [ ]:
monday = pd.read_csv('https://raw.githubusercontent.com/flyandlure/datasets/master/monday.csv')
monday

    sku   price  quantity
0  ABC1    9.99        10
1  ABC2   10.99         8
2  ABC3   78.34       394
3  ABC4  372.43       291
4  ABC5   99.99         1

In [ ]:
tuesday = pd.read_csv('https://raw.githubusercontent.com/flyandlure/datasets/master/tuesday.csv')
tuesday

    sku   price  quantity
0  ABC1    9.99         5
1  ABC2   10.99         2
2  ABC3   69.99       288
3  ABC4  399.99       500
4  ABC5   99.99         1

In [ ]:
monday.equals(tuesday)

False

In [ ]:
monday['sku'].equals(tuesday['sku'])

True

In [ ]:
monday['price'].equals(tuesday['price'])

False

In [ ]:
monday['quantity'].equals(tuesday['quantity'])

False

In [ ]:
unchanged_rows = monday.merge(tuesday, how='inner', indicator=False)
unchanged_rows

    sku  price  quantity
0  ABC5  99.99         1

In [ ]:
changed_rows = pd.concat([monday, tuesday]).drop_duplicates(keep=False)
changed_rows

    sku   price  quantity
0  ABC1    9.99        10
1  ABC2   10.99         8
2  ABC3   78.34       394
3  ABC4  372.43       291
0  ABC1    9.99         5
1  ABC2   10.99         2
2  ABC3   69.99       288
3  ABC4  399.99       500

In [ ]:
monday['day'] = 'monday'
tuesday['day'] = 'tuesday'

In [ ]:
changed_rows = pd.concat([monday, tuesday]).drop_duplicates(keep=False)
changed_rows[changed_rows['day']=='tuesday']

    sku   price  quantity      day
0  ABC1    9.99         5  tuesday
1  ABC2   10.99         2  tuesday
2  ABC3   69.99       288  tuesday
3  ABC4  399.99       500  tuesday
4  ABC5   99.99         1  tuesday

In [ ]:
comparison = monday.compare(tuesday, keep_shape=True, keep_equal=True)
comparison

    sku         price         quantity           day
   self other    self   other     self other    self    other
0  ABC1  ABC1    9.99    9.99       10     5  monday  tuesday
1  ABC2  ABC2   10.99   10.99        8     2  monday  tuesday
2  ABC3  ABC3   78.34   69.99      394   288  monday  tuesday
3  ABC4  ABC4  372.43  399.99      291   500  monday  tuesday
4  ABC5  ABC5   99.99   99.99        1     1  monday  tuesday

In [ ]:
monday = monday.rename(columns={'price': 'price_was', 'quantity': 'quantity_was'})
monday = monday.drop(columns=['day'])
tuesday = tuesday.rename(columns={'price': 'price_now', 'quantity': 'quantity_now'})
tuesday = tuesday.drop(columns=['day'])

In [ ]:
merged = monday.merge(tuesday, how='left', on='sku')
merged['price_change'] = merged['price_now'] - merged['price_was']
merged['quantity_change'] = merged['quantity_now'] - merged['quantity_was']
merged = merged[['sku', 'price_was', 'price_now', 'price_change', 'quantity_was', 'quantity_now']]

In [ ]:
merged

    sku  price_was  price_now  price_change  quantity_was  quantity_now
0  ABC1       9.99       9.99          0.00            10             5
1  ABC2      10.99      10.99          0.00             8             2
2  ABC3      78.34      69.99         -8.35           394           288
3  ABC4     372.43     399.99         27.56           291           500
4  ABC5      99.99      99.99          0.00             1             1

In [ ]:
merged[merged['price_change']!=0]

    sku  price_was  price_now  price_change  quantity_was  quantity_now
2  ABC3      78.34      69.99         -8.35           394           288
3  ABC4     372.43     399.99         27.56           291           500